/* === Root Variables === */
:root {
  /* Colors */
  --White: #ffffff;
  --Cream: #f9eee2;
  --Slate-100: #f4f4f4;
  --Slate-200: #d1d1d1;
  --Slate-300: #bdbdbd;
  --Slate-500: #2e3136;
  --Red: #dc5820;
  --Orange: #dca420;

  /*Typography */
  --font-body: "Figtree", sans-serif;
  --font-headlines: "Figtree", sans-serif;

  /* Font Weights */
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-weight-900: 900;

  /* Font Style */
  --font-style-normal: normal;
  --font-style-italic: italic;

  /* Spacing */
  --space-2xs: 0.4rem;
  --space-xs: 0.8rem;
  --space-sm: 1.2rem;
  --space-md: 1.6rem;
  --space-lg: 2.4rem;
  --space-xl: 3.2rem;
  --space-2xl: 4.8rem;
  --space-3xl: 6.4rem;
  --space-4xl: 9.6rem;

  /* Utilities */
  --max-content-width: 192rem;
  --cart-offset-from-content: 1.6rem;
  --min-viewport-margin: 1.6rem;
  --header-height: 14rem;
}

/* === Base  === */
html {
  font-family: var(--font-body);
  font-size: 62.5%; /* 16px * 0.625 = 10px */
}

body {
  background-color: var(--Cream);
  font-family: var(--font-body);
  color: var(--Slate-500);
  font-size: 1.4rem;
  line-height: 1.4;
  font-style: var(--font-style-normal);
}

/* === Utilities === */
.max-width {
  max-width: 192rem;
}

.mb-xs {
  margin-bottom: var(--space-xs);
}

.ml-xs {
  margin-left: var(--space-2xs);
}
