/* === Header === */
header {
  position: sticky;
  top: 0;
  background-color: var(--Cream);
  z-index: 999;
  box-shadow: 0px 8px 24px rgb(140, 140, 140, 0.3);
}

/* === Restaurant Overview === */
.restaurant-wrapper {
  max-width: 120rem;
  margin: 0 auto;
  margin-top: var(--space-2xl);
  padding: 0 var(--space-md);
}

.dishes-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
